.orcol
{
    color: #ff7b00;
}
.heading
{
    font-size: 25px;
    
}
body{
    padding:20px;
}
.aer
{
    padding-left: 80%;
}
.container
{
    padding-top: 50px;
}
.row
{
    padding: 10px;
}
.col-6
{
    padding: 7px;
}
.anc
{
    color: grey;
    text-decoration: none;
}